/* Global */
body {
	background: url("../img/bg.png");
}

/* Layout */

.container {
	width: 95%;
	margin: 0 auto;
	background: white;
}

article section {
	width: 50%;
	float: left;
}

iframe, img {
	width: 100%;
	max-width: 100%
}

/* Nav */

nav a:link,
nav a:visited {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    -webkit-animation: navBounce 1s forwards;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin: 10px 5px;
    background-color: red;
    
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
}

@-webkit-keyframes navBounce {
  0% { 
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(-20px);
  }
}
@-o-keyframes navBounce {
  0% { 
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(-20px);
  }
}
@-moz-keyframes navBounce {
  0% { 
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(-20px);
  }
}
@keyframes navBounce {
  0% { 
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(-20px);
  }
}

/* Media Queries*/

/* Mobile */
@media (max-width: 480px) {
	article section {
        float: none;
        width: auto;
    }
}

/* Tablet */
@media (max-width: 768px) {
	section img {
		width: 80%;
	}

	section h1 {
		text-transform: uppercase;
		color: orange;
	}
}

/* Desktop */
@media (min-width: 1024px) {
	#top {
		width: 300px;
	}
}